In [1]:
# Dependencies
import requests
import json
import pandas as pd

from pprint import pprint
from sodapy import Socrata
from config import Iowa_Key
from config import Census_Key

In [2]:
client = Socrata("data.iowa.gov", Iowa_Key)
results = client.get("ykb6-ywnd", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
#results_df.head()

In [3]:
new_df=results_df[["city","store_address_address","store_status","store_address_zip"]]
new_df.columns = ["City","Address","Status","Zip Code"]
Active_Stores_df=new_df.loc[new_df["Status"]=="A"].reset_index(drop=True)
Active_Stores_df.head()

             City                    Address Status Zip Code
0  Guthrie Center        200 State Po Box 98      A    50115
1           Boone                1111 8TH ST      A    50036
2      Burlington                3140 Agency      A    52601
3      Burlington                939 Angular      A    52601
4    Cedar Rapids  1843 Johnson Avenue, N.W.      A    52405

In [6]:
sales = client.get("m3tr-qhgy", limit=2000)
initial_sales_df = pd.DataFrame.from_records(sales)
cleaned_sales_df=initial_sales_df[["city","state_bottle_retail","store_location_address","zipcode"]]
cleaned_sales_df.columns = ["City", "Price", "Address", "Zipcode"]
cleaned_sales_df.head()

            City  Price           Address Zipcode
0        WAPELLO  17.74  503 HWY 61 SOUTH   52653
1     FORT DODGE   5.19    1231 1ST AVE S   50501
2         ANKENY  40.49  2510 SW STATE ST   50023
3    SPIRIT LAKE  17.01        HWY 9 & 71   51360
4  GRUNDY CENTER  12.37       1400, G AVE   50638