In [1]:
# Dependencies
import requests
import json
import pandas as pd

from pprint import pprint
from sodapy import Socrata
from config import Iowa_Key
from config import Census_Key

In [2]:
client = Socrata("data.iowa.gov", Iowa_Key)
results = client.get("ykb6-ywnd", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
#results_df.head()

In [ ]:
new_df=results_df[["city","store_address_address","store_status","store_address_zip"]]
new_df.columns = ["City","Address","Status","Zip Code"]
Active_Stores_df=new_df.loc[new_df["Status"]=="A"].reset_index(drop=True)
Active_Stores_df.head()

In [54]:
file_to_load = "Sales.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data["County"]=purchase_data["County"].str.title()

purchase_data["Sale (Dollars)"] = purchase_data["Sale (Dollars)"].str.replace(',', '')
purchase_data["Volume Sold (Gallons)"] = purchase_data["Volume Sold (Gallons)"].str.replace(',', '')
purchase_data["Sale (Dollars)"] = pd.to_numeric(purchase_data["Sale (Dollars)"])
purchase_data["Volume Sold (Gallons)"] = pd.to_numeric(purchase_data["Volume Sold (Gallons)"])

seveteen_df_initial=purchase_data.loc[purchase_data["Date"]==2017]
sixteen_df_initial=purchase_data.loc[purchase_data["Date"]==2016]
fifteen_df_initial=purchase_data.loc[purchase_data["Date"]==2015]
fourteen_df_initial=purchase_data.loc[purchase_data["Date"]==2014]
thirteen_df_initial=purchase_data.loc[purchase_data["Date"]==2013]
twelve_df_initial=purchase_data.loc[purchase_data["Date"]==2012]

nineteen_df.head()

   Date     County  Sale (Dollars)  Volume Sold (Gallons)
0  2019      Adair        52457.91                1026.55
1  2019      Adair        62661.65                1180.17
2  2019      Adams         5047.48                  63.66
3  2019  Allamakee       192454.20                3878.30
4  2019  Appanoose       284708.52                4817.37

In [65]:

seventeen_df=seveteen_df_initial.groupby("County").agg({"Date":"first",
                                           "Sale (Dollars)":"sum",
                                           "Volume Sold (Gallons)":"sum"
                                          }).reset_index()
sixteen_df=sixteen_df_initial.groupby("County").agg({"Date":"first",
                                           "Sale (Dollars)":"sum",
                                           "Volume Sold (Gallons)":"sum"
                                          }).reset_index()
fifteen_df=fifteen_df_initial.groupby("County").agg({"Date":"first",
                                           "Sale (Dollars)":"sum",
                                           "Volume Sold (Gallons)":"sum"
                                          }).reset_index()
fourteen_df=fourteen_df_initial.groupby("County").agg({"Date":"first",
                                           "Sale (Dollars)":"sum",
                                           "Volume Sold (Gallons)":"sum"
                                          }).reset_index()
thirteen_df=thirteen_df_initial.groupby("County").agg({"Date":"first",
                                           "Sale (Dollars)":"sum",
                                           "Volume Sold (Gallons)":"sum"
                                          }).reset_index()
twelve_df=twelve_df_initial.groupby("County").agg({"Date":"first",
                                           "Sale (Dollars)":"sum",
                                           "Volume Sold (Gallons)":"sum"
                                          }).reset_index()
seventeen_df.to_csv("CSV_Files/2017_sales.csv")
sixteen_df.to_csv("CSV_Files/2016_sales.csv")
fifteen_df.to_csv("CSV_Files/2015_sales.csv")
fourteen_df.to_csv("CSV_Files/2014_sales.csv")
thirteen_df.to_csv("CSV_Files/2013_sales.csv")
twelve_df.to_csv("CSV_Files/2012_sales.csv")